
<table style="line-height:0.3; max-width: 20%">

    <?php

    foreach ($block->getContacts() as $contact): ?>

        <tr>
            <td>
                <?php echo $contact->getId() ?>
            </td>

            <td>
                <?php echo $contact->getName() ?>
            </td>

            <td>
                <?php echo $contact->getDescription() ?>
            </td>

            <td>
                <?php echo $contact->getStatus() ?>
            </td>
        </tr>

    <?php endforeach;
        ?>
</table>

<br/>

<?php

if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom" style="width: 500px;"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>
